*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{

  background-color: #F2EAE2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

}

.img-container, .img-container img{
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  
}

.container{
  
  width: 95%; 
  
  border-radius: 1rem;
  overflow: hidden;
  
  
}



.description-container{
  background-color: white;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
  font-family: "Montserrat", sans-serif;
  
}

.description-container > p:nth-child(1){
  letter-spacing: 0.3125rem;
  color: #6C7289;
  font-size: 0.75rem;
}
.description-container >h1{
  font-weight: 700;
  font-size: 2rem;
  font-family: "Fraunces", serif;
  color: #1C232B;

}

.description-container > p:nth-of-type(2){
  color: #6C7289;
  line-height: 1.6;
  font-size: 0.875rem;
}
.price{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  
}

.final-price{
  color: #3D8168;
  font-weight: 700;
  font-size: 2rem;
  font-family: "Fraunces", serif;
}

.initial-price{
  color: #6C7289;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1.2;
  align-self: center;
  
}


button> img{
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}
button{
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #3D8168;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
}

button:hover{
  background-color: #1A4032;
  cursor: pointer;
}

footer{
  text-align: center;
  padding-top: 2rem;

}

/* Tablet (portrait and up) */

@media(min-width:37.5rem){
  .container{
    display: flex;
    flex-direction: row;
    max-width: 75%;
    align-items: stretch;
    
  }

  .img-container, .description-container {
    flex: 1; /* Equal width */
  }
  
  .img-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  
}
}

@media(min-width:61.93rem){
  .container{
    max-width: 65%;
  }
}

@media(min-width:87.5rem){
  .container{
    max-width: 50%;
  }
}